<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href= "./templates/details.html"/>
    <script src="./weather.py" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
</head>
<body>
 <center class="row">
    <form method="post" class="container">
    {% if data.cityname and data.desc and data.icon and data.temp and data.wind and data.humidity %}
        <div>
            <div class = dt_text>
            <h5>{{data.d_text}} </h5><br><h5>{{data.t_text}} </h5>
            </div>
            <h1>Forecast of {{data.cityname}}</h1>
            <div class="fr2">
             <h4>{{data.desc1}}</h4>
            <img src="{{data.icon1}}">
             <h4>{{data.temp1}}</h4><br>
             <h4>{{data.dt_text1}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc2}}</h4>
            <img src="{{data.icon2}}">
             <h4>{{data.temp2}}</h4><br>
             <h4>{{data.dt_text2}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc3}}</h4>
            <img src="{{data.icon3}}">
             <h4>{{data.temp3}}</h4><br>
             <h4>{{data.dt_text3}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc4}}</h4>
            <img src="{{data.icon4}}">
             <h4>{{data.temp4}}</h4><br>
             <h4>{{data.dt_text4}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc5}}</h4>
            <img src="{{data.icon5}}">
             <h4>{{data.temp5}}</h4><br>
             <h4>{{data.dt_text5}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc6}}</h4>
            <img src="{{data.icon6}}">
             <h4>{{data.temp6}}</h4><br>
             <h4>{{data.dt_text6}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc7}}</h4>
            <img src="{{data.icon7}}">
             <h4>{{data.temp7}}</h4><br>
             <h4>{{data.dt_text7}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc8}}</h4>
            <img src="{{data.icon8}}">
             <h4>{{data.temp8}}</h4><br>
             <h4>{{data.dt_text8}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc9}}</h4>
            <img src="{{data.icon9}}">
             <h4>{{data.temp9}}</h4><br>
             <h4>{{data.dt_text9}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc10}}</h4>
            <img src="{{data.icon10}}">
             <h4>{{data.temp10}}</h4><br>
             <h4>{{data.dt_text10}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc11}}</h4>
            <img src="{{data.icon11}}">
             <h4>{{data.temp11}}</h4><br>
             <h4>{{data.dt_text11}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc12}}</h4>
            <img src="{{data.icon12}}">
             <h4>{{data.temp12}}</h4><br>
             <h4>{{data.dt_text12}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc13}}</h4>
            <img src="{{data.icon13}}">
             <h4>{{data.temp13}}</h4><br>
             <h4>{{data.dt_text13}}</h4>
            </div>
            <div class="fr2">
             <h4>{{data.desc14}}</h4>
            <img src="{{data.icon14}}">
             <h4>{{data.temp14}}</h4><br>
             <h4>{{data.dt_text14}}</h4>
            </div>
                    <div>
        <a href="/">back to home page</a>
        </div>
        </div>
     {% else %}
        <div>
            <h6>{{data}}</h6>
            <h6>please try another city or check your spelling</h6>
        </div>
            {% endif %}
     </form>
 </center>
</body>
</html>
